
// Footer navigation block begin
.footer__nav
    
    +nav('footer-menu', [
        {
            name: "Capture app",
            link: "#"
        },
        {
            name: "About Swivl",
            link: "#"
        },
        {
            name: "Terms and conditions",
            link: "#"
        },
        {
            name: "Privacy policy",
            link: "#"
        }
    ])
    
// Footer navigation block end