
// Navigation block begin
.header__nav
    
    +nav('main-menu', [
        {
            name: "My Feed",
            link: "#"
        },
        {
            name: "Library",
            link: "#"
        },
        {
            name: "Groups",
            link: "#"
        }
    ])
    

// Navigation block end