
.container {
  width: 1170px;
  margin: 0 auto;
  @include desktop() {
    width: 100%;
  }
}
.section {
  background: #fff;
  border: 1px solid $forth-color;
  margin-bottom: 20px;
  padding: 36px 28px 34px;
  position: relative;
}