// Variables


$primary-font: "Roboto", "Arial", sans-serif;
$secondary-font: "Ionicons";

$primary-color: #5ac0a1; //  rgb  (90, 192, 161) turquoise color
$secondary-color: #f26d5b; //  rgb  (242, 109, 91) red color
$third-color: #515255; //  rgb  (81, 82, 85) grey color
$forth-color: #ecedec; // rgb  (236, 237, 236) light-grey color
$fifth-color: #222326; //  rgb  (34, 35, 28) dark-grey color
$sixth-color: #f6f4f2; //  rgb  (246, 244,242 ) light-grey, almost white color
$seventh-color: #bababa; // rgb (186, 186, 186) light-grey color
/*$eigth-color: #; // rgb (, , ) color
$ninth-color: #; //  rgb  (, , ) color */